<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <%- include('partials/head') %>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <%- include('partials/navigation') %>

        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1">About</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo velit facilis voluptatum magni repellat
                    voluptatem libero molestias ab minima tenetur praesentium vitae quas quis, quibusdam dicta amet
                    nostrum, placeat, corporis fugiat laudantium. Eligendi, provident nobis, quis dicta ducimus quia
                    blanditiis asperiores nihil quibusdam iure natus in? Odit, accusantium! Vel, aliquam voluptatem quam
                    porro numquam deleniti culpa ipsum asperiores! Ducimus temporibus beatae eveniet iure asperiores
                    accusamus reiciendis rerum pariatur tenetur, sunt illum, delectus exercitationem voluptas ipsam
                    obcaecati ex magnam, eius optio tempore nisi cumque fugit voluptatibus. Nam vitae a placeat eum
                    laudantium voluptatibus, quod ratione iste laboriosam suscipit id facere incidunt expedita
                    exercitationem dignissimos non eius commodi, quibusdam fugiat aspernatur facilis harum quia.
                    Doloribus maiores sed repudiandae dolor, veritatis dolorum, iure animi perferendis ipsum et minima
                    nam blanditiis iste consectetur. Tenetur odio minima quam deserunt commodi praesentium ullam
                    laudantium magnam autem maiores. Dicta sequi ea, enim dignissimos molestiae dolore, nesciunt
                    dolorum, maxime quidem doloremque voluptate hic praesentium maiores perferendis ut et vero in.
                    Ratione excepturi impedit amet qui pariatur fuga aperiam culpa, sed dolores mollitia tempore
                    distinctio rerum earum voluptates perferendis perspiciatis reiciendis nostrum eius ipsam magni omnis
                    voluptatem quidem! Inventore adipisci exercitationem at accusantium consequuntur eaque. Voluptatibus
                    rerum vel id.</p>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>